<div class="container text-center">
  <div class="row">
    <div class="col-lg-6 mt-4">
      <form #loginForm="ngForm" class="example-form" (ngSubmit)="login()">
        <div class="row">
          <h2>Blog Portal</h2>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Username"
              [(ngModel)]="userModel.userName"
              name="userName"
              required
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              [type]="passwordhide ? 'password' : 'text'"
              [(ngModel)]="userModel.password"
              name="password"
              required
            />
            <mat-icon matSuffix (click)="hide = !passwordhide">{{
              passwordhide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint *ngIf="!userModel.password">Enter your password</mat-hint>
          </mat-form-field>
        </div>

        <div class="row">
          <button
            [disabled]="loginForm.form.invalid || !Err"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Login
          </button>
          <button mat-raised-button (click)="loginForm.form.reset()">
            Clear
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 mt-4">
      <form #registerForm="ngForm" class="example-form" (ngSubmit)="register()">
        <div class="row">
          <h2>Register User</h2>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Username"
              [(ngModel)]="userReg.userName"
              name="reguserName"
              required
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              [type]="regpasswordhide ? 'password' : 'text'"
              [(ngModel)]="userReg.password"
              name="regpassword"
              required
            />
            <mat-icon matSuffix (click)="hide = !regpasswordhide">{{
              regpasswordhide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint *ngIf="!userReg.password">Enter your password</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              [disabled]="!userReg.password"
              placeholder="Confirm Password"
              [type]="cnfpasswordhide ? 'password' : 'text'"
              [(ngModel)]="confirmPassword"
              name="cnfpassword"
              required
              (keyup)="checkConfirmPassword()"
            />
            <mat-icon matSuffix (click)="hide = !cnfpasswordhide">{{
              cnfpasswordhide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint *ngIf="!confirmPassword">Confirm Password</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <span class="error" *ngIf="Err">Confirm Password is not same</span>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              placeholder="Email Id"
              [(ngModel)]="userReg.emailId"
              name="emailId"
              required
              type="email"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Mobile</mat-label>
            <input
              matInput
              placeholder="Mobile Number"
              [(ngModel)]="userReg.mobile"
              name="mobile"
              required
              type="tel"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <button
            [disabled]="registerForm.form.invalid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Register
          </button>
          <button mat-raised-button (click)="registerForm.form.reset()">
            Clear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
