<form class="example-form" (ngSubmit)="addPost(postForm)" #postForm="ngForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Title of Post" [(ngModel)]="Posts.title" name="Title" value="Sushi" #title="ngModel"
            required>
        <mat-error *ngIf="title.invalid">Please Enter title</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Post Data" [(ngModel)]="Posts.content" name="Post" #post="ngModel" required></textarea>
        <mat-error *ngIf="post.invalid">You need to enter post</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Save</button>
</form>