<button (click)="UserLogin()"></button>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.title}}
            </mat-panel-title>
            <mat-panel-description>
                Post Content
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{item.content}}</p>
    </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalRecord"
               [pageSize]="10"
               (page)="onPaginateChange($event)">
</mat-paginator>
