<div class="container">
    <div class="row">
        <div class="col-md-6  mt-4">
            <app-post-list [posts]="Posts"></app-post-list>
        </div>
        <div class="col-md-6  mt-4">
            <app-createpost (postCreated)="getPost($event)"></app-createpost>
        </div>
    </div>
</div>